.two {
  background-image: linear-gradient(#fdfdfd 20%, #44ebf7 80%);
  min-height: fit-content;
  height: 100%;
  align-items: center;
}

.aboutContainer {
  width: 95%;
  height: fit-content;
  margin: 10% auto;
  display: flex;
  border: 2px solid red;
}

.bubbleText {
  flex: 1;
  border: 1px solid blue;
  padding: 0 40px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4em;
}

.bubbleText h2 {
  margin: 1em 0 0.5em 0;
  font-weight: 100;
  text-transform: uppercase;
  color: #00caa6;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  line-height: 54px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.bubbleContainer {
  flex: 1;
  border: 1px solid green;
  flex-wrap: wrap;
  display: flex;
}

.bubbleContainer div {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
}

.bubblesImg {
  padding: 10%;
}

@media (max-width: 1050px) {
  .aboutContainer {
     flex-wrap: wrap;
     flex-direction: column;
    }
  }