.two {
  background-image: linear-gradient(#fdfdfd 20%, #44ebf7 80%);
  min-height: fit-content;
  height: 100%;
}

.aboutContainer {
  width: 95%;
  height: fit-content;
  margin: 10% auto;
  display: flex;

}

.bubbleText {
  flex: 1;
  border: 1px solid blue;
}

.bubbleContainer {
  flex: 1;
  border: 1px solid green;
  flex-wrap: wrap;
  display: flex;

}

.bubbleContainer div {
  border: 2px solid pink;
  width: 50%;
  flex-wrap: wrap;
  display: flex;
}

.bubblesImg {
  padding: 10%;
}