.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  height: 56px;

}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 0.5rem;
}

.toolbar__logo img  {
  width: 50%;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
}


.toolbar__navigation a {
  color: white;
  text-decoration: none;  

}

.toolbar__navigation a:hover,
.toolbar__navigation a:active {
  color: orange;
}

.spacer {
  flex: 1;
}