.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 56px;
  padding: 6px;
  border-bottom: 2px solid lightgrey;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 3rem;
}

.toolbar__logo img {
  width: 50%;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  margin-right: 10rem;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.toolbar__navigation a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.toolbar__navigation a:hover,
.toolbar__navigation a:active {
  color: orange;
  text-decoration: underline;
}

.spacer {
  flex: 1;
}
.active {
  text-decoration: underline !important;
}

@media (max-width: 853px) {
  .toolbar__navigation-items {
    display: none;
  }
}
