
.container {    
    border: 2px solid green;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    
}

.container div:nth-child(1) {
    border: 2px solid pink;
    flex: 1;
    margin: 1%;
    animation: slideInFromLeft 1s ease-in-out 1 ;
}

.container div:nth-child(2) {
    border: 2px solid pink;
    flex: 1;
    margin: 1%;
    animation: slideInFromLeft 2s ease-in-out 1 ;
}

.container div:nth-child(3) {
    border: 2px solid pink;
    flex: 1;
    margin: 1%;
    animation: slideInFromLeft 3s ease-in-out 1 ;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0);
    }
}

