.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-105%);
  transition: transform 0.4s ease-out;
}

#logo {
  border: none;
  margin-bottom: 10%;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer li {
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  border: 1px solid black;
  padding: 10px;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer a {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.side-drawer img {
  width: 80%;
  top: 10%;
}

.close {
  background: none;
  border: none;
  margin: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.close:hover {
  color: rgb(211, 43, 43);
}

@media (min-width: 853px) {
  .side-drawer {
    display: none;
  }
}

@media (min-width: 853px) {
  .toolbar__toggle-button {
    display: none;
  }
}
