section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeall {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.greeting {
  font-family: "Yatra One", cursive;
  font-weight: 600;
  color: white;
  word-spacing: 1em;
  padding-bottom:5%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.avatarme {
  max-width: 160px;
  padding:5%;
}

.work__title {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact__div {
  width: 100%;
  flex-direction: row;
}

.contact__img {
  display: flex;
  justify-content: space-around;
  padding:5%;
}

.arrow {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  margin-top: 10%;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

/* WAVE ANIMATION */

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #e2ebf0 20%, #cfd9df 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.waveTop {
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}

.waveMiddle {
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
}

.waveBottom {
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
}
