section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeall {
  border: 2px solid blue;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting {
  border: 1px solid blue;
  font-family: 'Yatra One', cursive;
  font-weight: 600;
  color: black;
}

.avatarme {
  max-width: 300px;
  border: 1px solid blue;
  border-radius: 200px;
}

.work__title {
  width: 100%;
  border: 1px solid blue;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.contact__div {
  width: 100%;
  flex-direction: row;

  border: 1px solid blue;
}

.contact__img {
  display: flex;
  justify-content: space-around;
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
